.app {
  max-width: 500px;
  margin: 50px auto;
}

.index {
  margin: 50px auto;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.input-wrap {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-wrap span,
.input-wrap textarea,
.input-wrap input {
  width: 100%;
  max-width: 300px;
  display: block;
  height: 30px;
  margin: 10px 50px;
}

.input-wrap textarea {
  min-height: 70px;
}

label {
  text-transform: capitalize;
  font-weight: 600;
  padding-left: 20px;
}